{% extends('base.html.twig') %}
{% block body %}


<style>
    th, td {
        padding: 10px;
    }
    th {
        text-align: left;
    }
</style>
    <h1>Shared contacts</h1>
{% if sharedContacts is not empty %}
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in sharedContacts %}
            <tr>
                <td>{{ contact.name }}</td>
                <td>{{ contact.number }}</td>
                <td><a class="btn btn-danger" href="terminate-share/{{ contact.id }}">Stop sharing</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>You do not share any contacts</p>
{% endif %}

{% endblock %}